<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="/css/style.css">
    <title>Plant Nursery Shop</title>
</head>
<body>
    <h1>Plant Nursery Shop</h1>
    <div class="index-container">
        <ul> 
            <% plants.forEach(plant => { %>
                <li>
                    <p class="index-plant-name">
                        <%=plant.name%>
                    </p>
                    
                    <a href="/plants/<%=plant._id;%>"><img src="<%= plant.img; %>"></a><br />
                    
            
                
                </li>
            <% }) %>
    
    
        </ul>
    </div>
    <nav>
        <a href="/plants/new">Create new product</a>
    </nav>
    
</body>
</html>